footer
  p
    small &copy; hanagejet. All Rights Reserved.

// build:js({app,.tmp}) scripts/main.min.js
script(src='bower_components/angular/angular.min.js')
script(src="scripts/main.js")
// inject:partials
// endinject
// endbuild
