header
  h1
    a(href="/")
      svg(shape-rendering="crispEdges" xmlns="http://www.w3.org/2000/svg" viewBox="-264 -264 560 560" enable-background="new -264 -264 560 560" width="24")
        title logo
        path(fill="#fff" d="M-19-264h70v35h35v35h35v70h35v140h35v35h35v105h-35v35h-35v105h-35v-105h-35v35h-140v-35h-35v105h-35v-105h-35v-35h-35v-105h35v-35h35v-140h35v-70h35v-35h35v-35zm35 35h-35v35h-35v105h-35v140h-70v105h105v35h140v-35h105v-105h-70v-140h-35v-105h-35v-35h-35z")