.t3-slider {
  overflow: hidden;
}

.t3-item {
  float: left;
}

.t3-inner {
  overflow: hidden;
  transition: transform ease-out .3s;
}

.t3-nav {
  overflow: hidden;
  margin: 10px 0;

  span {
    float: left;
    height: 20px;
    margin: 0 0 0 10px;
    padding: 10px;
    background: #137cb4;
    border-radius: 5px;

    color: #fff;
    line-height: 20px;
    cursor: pointer;

    &:first-child {
      margin: 0;
    }
  }
}

.t3-dots {
  overflow: hidden;
  margin: 10px 0;

  span {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 0 0 5px;
    background: #137cb4;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      background: #1346b4;
    }

    &:first-child {
      margin: 0;
    }
  }
}
