extends /_layouts/_base

block title
  title Slider
block meta
  meta(name="description", content="description")
block link
  // build:css({.tmp,app}) styles/main.min.css
  link(rel='stylesheet' href='bower_components/normalize-css/normalize.css')
  link(rel='stylesheet' href='styles/main.css')
  // endbuild

block body
  body
    .constructor
      div Mac ストア
      div MacBook Air
      div MacBook Pro
      div iMac
      div iMac Reteina 5K ディスプレイモデル
      div マックプロ
      div Mac mini
      div Mac ストア
      div MacBook Air
      div MacBook Pro
      div iMac
      div iMac Reteina 5K ディスプレイモデル
      div マックプロ
    .constructor
      div
        img(src="http://dummyimage.com/100x50/000/fff", alt="", width="100")
        br
        | hogehoge
      div
        img(src="http://dummyimage.com/20x60/000/fff", alt="", width="20")
        br
        | hogehoge
      div
        img(src="http://dummyimage.com/70x20/000/fff", alt="", width="70")
        br
        | hogehoge
      div
        img(src="http://dummyimage.com/30x40/000/fff", alt="", width="30")
        br
        | hogehoge
      div
        img(src="http://dummyimage.com/50x10/000/fff", alt="", width="50")
        br
        | hogehoge
      div
        img(src="http://dummyimage.com/30x40/000/fff", alt="", width="30")
        br
        | hogehoge
    .constructor
      img(src="http://dummyimage.com/300x400/000/fff", alt="", width="300")
      img(src="http://dummyimage.com/300x400/f00/fff", alt="", width="300")
      img(src="http://dummyimage.com/300x400/0f0/fff", alt="", width="300")
      img(src="http://dummyimage.com/300x400/ff0/fff", alt="", width="300")
      img(src="http://dummyimage.com/300x400/00f/fff", alt="", width="300")
      img(src="http://dummyimage.com/300x400/f0f/fff", alt="", width="300")
      img(src="http://dummyimage.com/300x400/d00/fff", alt="", width="300")

    // build:js({.tmp, app}) scripts/main.min.script
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="scripts/t3-slider.js")
    //endbuild
